In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\godde\anaconda3\lib\site-packages (4.12.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\godde\anaconda3\lib\site-packages (from beautifulsoup4) (2.4)

In [3]:
link = "https://quotes.toscrape.com/" #choose your web page and get your page link

In [4]:
res = requests.get(link) #get request from web page

In [5]:
sp = BeautifulSoup(res.text,"html.parser") # create html parser for reading html content

In [6]:
data = []
for i in sp.find_all("div", class_ = "quote"): #get data by using  html element and class name 
    quote = i.find("span" ,class_ = "text").text[1:-1]
    author = i.find("small", class_ = "author").text
    author_about = i.find("a").get("href")
    data.append([quote,author,author_about]) # add data into list
    df = pd.DataFrame(data,columns = ["quote","author","author_about"]) # create dataframe for and store data inside dataframe

In [7]:
df #get data frame

,quote,author,author_about
0,The world as we have created it is a process o...,Albert Einstein,/author/Albert-Einstein
1,"It is our choices, Harry, that show what we tr...",J.K. Rowling,/author/J-K-Rowling
2,There are only two ways to live your life. One...,Albert Einstein,/author/Albert-Einstein
3,"The person, be it gentleman or lady, who has n...",Jane Austen,/author/Jane-Austen
4,"Imperfection is beauty, madness is genius and ...",Marilyn Monroe,/author/Marilyn-Monroe
5,Try not to become a man of success. Rather bec...,Albert Einstein,/author/Albert-Einstein
6,It is better to be hated for what you are than...,André Gide,/author/Andre-Gide
7,"I have not failed. I've just found 10,000 ways...",Thomas A. Edison,/author/Thomas-A-Edison
8,A woman is like a tea bag; you never know how ...,Eleanor Roosevelt,/author/Eleanor-Roosevelt
9,"A day without sunshine is like, you know, night.",Steve Martin,/author/Steve-Martin

In [8]:
df.to_csv("quots.csv")

In [9]:
data

[['The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.',
  'Albert Einstein',
  '/author/Albert-Einstein'],
 ['It is our choices, Harry, that show what we truly are, far more than our abilities.',
  'J.K. Rowling',
  '/author/J-K-Rowling'],
 ['There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.',
  'Albert Einstein',
  '/author/Albert-Einstein'],
 ['The person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.',
  'Jane Austen',
  '/author/Jane-Austen'],
 ["Imperfection is beauty, madness is genius and it's better to be absolutely ridiculous than absolutely boring.",
  'Marilyn Monroe',
  '/author/Marilyn-Monroe'],
 ['Try not to become a man of success. Rather become a man of value.',
  'Albert Einstein',
  '/author/Albert-Einstein'],
 ['It is better to be hated for what you are than to be loved for what you are not.',
  'André Gide',
  '/author/Andre-Gide'],
 ["I have not failed. I've just found 10,000 ways that won't work.",
  'Thomas A. Edison',
  '/author/Thomas-A-Edison'],
 ["A woman is like a tea bag; you never know how strong it is until it's in hot water.",
  'Eleanor Roosevelt',
  '/author/Eleanor-Roosevelt'],
 ['A day without sunshine is like, you know, night.',
  'Steve Martin',
  '/author/Steve-Martin']]