In [28]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from tqdm import tqdm

In [44]:
data = []
for i in tqdm(range(1,51)):
    link = "https://books.toscrape.com/catalogue/page-" + str(i) + ".html"
    
    
    res = requests.get(link) 
    soup = BeautifulSoup(res.text , "html.parser")
    
    for i in soup.find_all("li" , class_ = "col-xs-6 col-sm-4 col-md-3 col-lg-3"):
        
        img_link = "https://books.toscrape.com/" + i.find("img").get("src")[-3]
        book_title = i.find_all("a")[-1].get("title")
        book_link = 'https://books.toscrape.com/catalogue/' + i.find_all("a")[-1].get("href")
        rating = i.find("p").get("class")[-1]
        price = i.find("p" , class_ = "price_color").text[1:]
        stock = i.find("p" , class_ = "instock availability").text

        data.append([book_title,rating,price,stock,book_link,img_link])

100%|██████████| 50/50 [02:16<00:00,  2.73s/it]

In [45]:
df = pd.DataFrame(data , columns = ["book_title", " rating" , "price" , "stock" , "book_link", "img_link"])

In [46]:
df.head()

,book_title,rating,price,stock,book_link,img_link
0,A Light in the Attic,Three,£51.77,\n\n \n In stock\n \n,https://books.toscrape.com/catalogue/a-light-i...,https://books.toscrape.com/j
1,Tipping the Velvet,One,£53.74,\n\n \n In stock\n \n,https://books.toscrape.com/catalogue/tipping-t...,https://books.toscrape.com/j
2,Soumission,One,£50.10,\n\n \n In stock\n \n,https://books.toscrape.com/catalogue/soumissio...,https://books.toscrape.com/j
3,Sharp Objects,Four,£47.82,\n\n \n In stock\n \n,https://books.toscrape.com/catalogue/sharp-obj...,https://books.toscrape.com/j
4,Sapiens: A Brief History of Humankind,Five,£54.23,\n\n \n In stock\n \n,https://books.toscrape.com/catalogue/sapiens-a...,https://books.toscrape.com/j

In [47]:
df.to_csv("1000_book_data.csv")

In [48]:
df["book_link"]

0      https://books.toscrape.com/catalogue/a-light-i...
1      https://books.toscrape.com/catalogue/tipping-t...
2      https://books.toscrape.com/catalogue/soumissio...
3      https://books.toscrape.com/catalogue/sharp-obj...
4      https://books.toscrape.com/catalogue/sapiens-a...
                             ...
995    https://books.toscrape.com/catalogue/alice-in-...
996    https://books.toscrape.com/catalogue/ajin-demi...
997    https://books.toscrape.com/catalogue/a-spys-de...
998    https://books.toscrape.com/catalogue/1st-to-di...
999    https://books.toscrape.com/catalogue/1000-plac...
Name: book_link, Length: 1000, dtype: object